@import "_variables";

.card-text-p{
    @include cardBg;
    width:100%;
    height:390px;
}

.card-text-p-title{
  height:80px;
}

#card-text-firstP{
    grid-row: 2/3;
    grid-column: 2/3;
    height:100%;
}

#card-text-secondP{
    grid-row: 2/3;
    grid-column: 3/4;
    height:100%;
}

.article-description{
    padding:5px 5px;
    line-height:2rem;
  }

.article-description-colorPink{
    background: $pink-gradient;
    @include colored;
  }
  
  .article-description-colorBlue{
    background: $blue-gradient;
    @include colored;
  }
  
  .article-description-colorGreen{
    background: $green-gradient;
   @include colored;
  }
  
  
