@import "_variables";

.card-text-p{
    @include cardBg;
    width:100%;
    height:400px;
}

.card-text-p-title{
  height:80px;
}

.article-description{
    padding:5px 5px;
    line-height:2rem;
  }

.article-description-colorPink{
    background: $pink-gradient;
    @include colored;
  }
  
  .article-description-colorBlue{
    background: $blue-gradient;
    @include colored;
  }
  
  .article-description-colorGreen{
    background: $green-gradient;
   @include colored;
  }
  
  
