@import "_variables";

.card-presentation{ 
      grid-row: 1/3;
      grid-column: 1/2;
  }
  
  .card-presentation{
    @include cardBg;
    width:350px;
    height:100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
  }
  
  .card-presentation-img {
  background-image: url("../../img/ICZK0901.JPEG");
  width: 100%;
  height: 23rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: $border;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 2rem;
  }
  
  .card-presentation-layout{
    height:300px;
  }

  .card-presentation-title{
      background: $grey-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size:2rem;
      font-family: "Quattrocento", serif;
      font-weight: 900;
      margin:1.5rem 0;
  }
  
  .card-presentation-text{
     margin:7px;
  }
  
  #cv-button {
      position: absolute;
      bottom:20px;
      padding: 10px 10px;
      text-transform: uppercase;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 500;
      color: #ffffff80;
      text-shadow: none;
      background: transparent;
      box-shadow: transparent;
      border: 1px solid #ffffff80;
      transition: 0.5s ease;
      user-select: none;
      text-decoration: none;
    }
    
    #cv-button:hover,:focus {
      color: black;
      background: #ffffff;
      border: 1px solid #ffffff;
      text-shadow: 0 0 5px #ffffff,
                  0 0 10px #ffffff,
                  0 0 20px #ffffff;
      box-shadow: 0 0 5px #ffffff,
                  0 0 20px #ffffff,
                  0 0 50px #ffffff,
                  0 0 100px #ffffff;
    }