@import "_variables";

  
  .card-presentation{
    @include cardBg;
    height:100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
  }
  
  .card-presentation-img {
  background-image: url("../../img/ICZK0901.JPEG");
  width: 100%;
  height: clamp(10rem, 20vw, 20rem);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: $border;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 2vh;
  }
  
  .card-presentation-layout{
    height:35vh;
  }

  .card-presentation-title{
      background: $grey-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size:2rem;
      font-family: "Quattrocento", serif;
      font-weight: 900;
      margin:1.5rem 0;
  }
  
  .card-presentation-text{
     margin:1vw;
  }
  
  #cv-button {
      position: absolute;
      bottom:2vw;
      padding: 0.6vw 0.6vw;
      text-transform: uppercase;
      border-radius: 0.6vw;
      font-size: 1rem;
      font-weight: 500;
      color: #ffffff80;
      text-shadow: none;
      background: transparent;
      box-shadow: transparent;
      border: 1px solid #ffffff80;
      transition: 0.5s ease;
      user-select: none;
      text-decoration: none;
    }
    
    #cv-button:hover,:focus {
      color: black;
      background: #ffffff;
      border: 1px solid #ffffff;
      text-shadow: 0 0 5px #ffffff,
                  0 0 10px #ffffff,
                  0 0 20px #ffffff;
      box-shadow: 0 0 5px #ffffff,
                  0 0 20px #ffffff,
                  0 0 50px #ffffff,
                  0 0 100px #ffffff;
    }


    @media (max-width: 767px) {
      .card-presentation {
        margin-bottom: 20px; /* Réduire l'espace entre les cartes */
        height: auto; /* Permettre aux cartes de s'ajuster en hauteur en fonction de leur contenu */
      }
    
      .card-presentation-img {
        height: 200px; /* Réduire la hauteur de l'image à l'intérieur de la carte */
      }
    
      .card-presentation-title {
        font-size: 18px; /* Réduire la taille de la police du titre */
      }
    
      .card-presentation-text {
        font-size: 14px; 
        margin-bottom: 10px; 
      }
    
      #cv-button {
        font-size: 12px; /* Réduire la taille de la police du bouton */
        padding: 5px 10px; /* Réduire le rembourrage du bouton */
      }
    }