
#wrapper-name-projects{
    @include coloredTitle;
    position: relative;
    z-index: 2;
    margin-top:120px;
    margin-bottom: 100px;  
  }

.project-wrapper-deliver{
  @include bordersProjects;
    overflow: hidden;
}

.project-img{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.project-text-deliver, .project-text-superman{
  @include bordersProjects;
}

.project-wrapper-superman{
  @include bordersProjects;
    overflow: hidden;
}

#end{
  margin-top : 50px;
  margin-bottom: 80px;
  background: $grey-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: clamp(2rem, 15vw, 5rem) !important;
  font-family: "Quattrocento", serif;
}