
#wrapper-name-projects{
    @include coloredTitle;
    position: relative;
    z-index: 2;
    margin-top:120px;
    margin-bottom: 100px;  
  }


 .projects-grid{
    display:grid;
    grid-template-columns: 600px 300px;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
    width:70%;
 }
 *
.project-wrapper-deliver{
    grid-row: 1/2;
    grid-column: 1/2;
    // width:100%;
    // height: 100%;
  @include cardBg;
}

.project-img{
    border-radius: 5px;
    width:600px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}

.project-text-deliver{
    grid-row: 1/2;
    grid-column: 2/3;
    width:100%;
    height: 100%;
  @include cardBg;
}

.project-wrapper-superman{
    grid-row: 2/3;
    grid-column: 1/2;
    width:100%;
    height: 100%;
  @include cardBg;
}

.project-text-superman{
  grid-row: 2/2;
    grid-column: 2/3;
    width:100%;
    height: 100%;
  @include cardBg;
}