@import "../../../node_modules/bootstrap/scss/bootstrap.scss";


body{
width:100%;  
height:100vh;
background: rgb(19,19,19);
background: linear-gradient(0deg, rgba(19,19,19,0.9976365546218487) 0%, rgba(0,0,0,0.9612219887955182) 2%, rgba(0,0,0,0.9164040616246498) 100%);

}